// FONT SIZE
$default-font-size: 1.6rem;

// COLOR
$color-white: #f2f2f2;
$brand-color: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);

// BOX SHADOW
$box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
