.btn {
  transition: all 0.4s;
  margin-top: 3rem;
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6rem;
    background: $color-white;
    font-size: 2rem;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: $box-shadow;
  }

  &:hover {
    background: $brand-color;
    color: $color-white;
    transform: translateY(-1rem);
  }
  &:active {
    transform: translateY(0);
  }
}
