.carousel {
  &__box1 {
    & h1 {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-white;
      letter-spacing: 2px;
      line-height: 1.5;
    }

    & h2 {
      font-size: 2rem;
      text-transform: uppercase;
      -webkit-background-clip: text;
      color: transparent;
      background-image: $text-bg;
      letter-spacing: 3px;
    }
  }

  &__box2 {
    &__content {
      & h3 {
        font-size: 2.4rem;
        -webkit-background-clip: text;
        color: transparent;
        background-image: $text-bg;
        &::after {
          content: '';
          background: #000;
          display: block;
          width: 35%;
          height: 0.5rem;
          transform: translateY(0.7rem);
        }
      }

      & p {
        font-size: $default-font-size;
        color: $color-dark-grey;
        margin: 1.3rem 0 0.4rem 0;
      }

      & a {
        &:link,
        &:visited {
          text-decoration: none;
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #7918f2;
        }

        &:hover {
          color: $color-dark-grey;
        }
      }
    }
  }
}
