.carousel {
  position: relative;
  overflow: hidden;
  &__slide {
    display: flex;
  }
  &__box1 {
    height: 80vh;
    min-width: 100%;
    // background-image: url('../../img/baked.jpg');
    background-image: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
      ),
      url('../../img/baked.jpg');
    // background-image: linear-gradient(
    //     to top,
    //     rgba(207, 217, 223, 0.3),
    //     rgba(226, 235, 240, 0.4)
    //   ),
    //   url('../../img/baked.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__box2 {
    height: 80vh;
    min-width: 100%;
    background-image: url('../../img/pic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__box3 {
    height: 80vh;
    min-width: 100%;
    background-image: url('../../img/pic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

#carousel__prevBtn {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 30px;
  color: white;
  z-index: 10;
  cursor: pointer;
}
#carousel__nextBtn {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 30px;
  color: white;
  z-index: 10;
  cursor: pointer;
}
