.carousel {
  position: relative;
  overflow: hidden;
  &__slide {
    display: flex;
  }
  &__box1 {
    height: 80vh;
    min-width: 100%;
    // background-image: url('../../img/baked.jpg');
    background-image: $bg-overlay, url('../../img/baked.jpg');
    @include bg-img-pos;
    @include dflex;
    flex-direction: column;
  }

  &__box2 {
    height: 80vh;
    min-width: 100%;
    background-image: $bg-overlay, url('../../img/breakfast.jpg');
    @include bg-img-pos;
    position: relative;

    &__content {
      position: absolute;
      right: 10%;
      bottom: 20%;
      max-width: 30vw;
      height: auto;
      background: rgba(255, 255, 255, 0.7);
      padding: 2rem;
      line-height: 1.5;
    }
  }

  &__box3 {
    height: 80vh;
    min-width: 100%;
    background-image: $bg-overlay, url('../../img/wedding-cake.jpg');
    @include bg-img-pos;
    background-position-y: 15%;
    position: relative;

    &__content {
      position: absolute;
      left: 10%;
      bottom: 20%;
      max-width: 30vw;
      height: auto;
      background: rgba(255, 255, 255, 0.7);
      padding: 2rem;
      line-height: 1.5;
    }
  }
}

#carousel__prevBtn {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 30px;
  color: white;
  z-index: 10;
  cursor: pointer;
}
#carousel__nextBtn {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 30px;
  color: white;
  z-index: 10;
  cursor: pointer;
}
